.container_control_hud {
  width: 100%;
  height: 106px;
  bottom: 0;
  z-index: 1;
  display: flex;
  padding: 0 6px 6px 6px;
  gap: 10px;
  flex-direction: column;
  justify-content: end;
  z-index: 2;
}


.container_hp_control_hud {
  width: 100%;
  height: 16px;
  outline: 2px solid black;
  position: relative;
  background-color: white;
}

.hp_control_hud {
  height: 100%;
  background-color: red;
  position: absolute;
  border-bottom: 4px solid  rgb(202, 0, 0);
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}

.container_button_control_hud {
  display: flex;
  width: 100%;
  gap: 10px;
}

.button_control_hud {
  background: rgb(255, 174, 0);
  cursor: pointer;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 6px solid rgb(202, 138, 0);
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  outline: 2px solid black;
  transition: all 0.1s ease-out;
}

.emoji_footer_hud {
  font-size: 30px;
}

.button_control_hud:disabled {
  background: #bdbdbd;
  color: #666;
  cursor: not-allowed;
  opacity: 0.5;
  border-bottom: 4px solid rgb(136, 136, 136);
}

.button_control_hud:hover:not(:disabled) {
  background: rgb(241, 165, 0);
  border-bottom: 4px solid rgb(199, 136, 0);
}

.button_control_hud.pressed {
  transform: scale(1.2);
  border-bottom-width: 2px;
}