.container_game_scene {
  width: 100%;
  height: 100dvh;
  max-height: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.init_container_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
  padding: 0 0 92px 0;
  margin: 10px;
}

.init_item_grid {
  height: 60px;
  border: none;
  cursor: pointer;
  color: black;
}

.init_button_footer {
  background: rgb(255, 174, 0);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 4px solid rgb(202, 138, 0);
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  outline: 2px solid black;
}


.init_button_footer:disabled {
  background: #bdbdbd;
  color: #666;
  cursor: not-allowed;
  opacity: 0.5;
  border-bottom: 4px solid rgb(136, 136, 136);
}