.container_header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  padding: 6px;
  gap: 10px;
  flex-direction: column;
  align-items: start;
  justify-content: start
  
}

.container_hp_header {
  width: 100%;
  height: 16px;
  outline: 2px solid black;
  position: relative;
}

.hp_header {
  height: 100%;
  background-color: red;
  position: absolute;
  border-bottom: 4px solid rgb(202, 0, 0);
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}