.container_header_hud {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  padding: 6px;
  gap: 10px;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  z-index: 3;
}

.container_hp_header_hud {
  width: 100%;
  height: 16px;
  outline: 2px solid black;
  position: relative;
  background-color: white;
}

.hp_header_hud {
  height: 100%;
  background-color: red;
  position: absolute;
  border-bottom: 4px solid rgb(202, 0, 0);
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}
