.container_footer {
  width: 100%;
  height: 72px;
  position: fixed;
  max-width: 600px;
  bottom: 0;
  z-index: 1;
  display: flex;
  padding: 0 10px 6px 10px;
  gap: 10px;
  flex-direction: column;
  justify-content: end;
}

.container_hp_footer {
  width: 100%;
  height: 16px;
  outline: 2px solid black;
  position: relative;
  background-color: white;
}


.button_footer {
  background: rgb(255, 174, 0);
  cursor: pointer;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  border-bottom: 6px solid rgb(202, 138, 0);
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  font-size: 2rem;
  outline: 3px solid black;
}

.button_footer:hover {
  background: rgb(255, 196, 0);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  border-bottom: 4px solid rgb(202, 148, 0);
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  font-size: 2rem;
  outline: 3px solid black;
}


.emoji_footer {
  font-size: 30px;
}

.button_footer:disabled {
  background: #bdbdbd;
  color: #666;
  cursor: not-allowed;
  opacity: 0.5;
  border-bottom: 4px solid rgb(136, 136, 136);
}
